<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">
        <img class="js-chickendinner" style="width:28rem;" src="{{ site.utl }}/assets/logo.jpg" alt="" />
      </a>
      </div>
      </div>
      <div class="mt2 wrap">
      <div class = "measure">
           arg min<sub>blog</sub>
        <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
  
  <script>
    $('.js-chickendinner').chickenDinner({
        path: '{{ site.utl }}/assets/',
        fadeInTime:1000,
        TheImages: ['logo-1.jpg', 'logo-3.jpg', 'logo-5.jpg', 'logo-10.jpg']
    });
    </script>
  
</header>
