<!--Don't forget Jquery-->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>

<!--New images on load -->
<script>
//Add your images, we'll set the path in the next step
    var images = ['logo-1.jpg', 'logo-2.jpg', 'logo-3.jpg', 'logo-4.jpg'];
    
//Build the img, then do a bit of maths to randomize load and append to a div. Add a touch off css to fade them badboys in all sexy like.
    $('<img style="width:28rem;" class="fade-in" src=""{{ site.utl }}/assets/' + images[Math.floor(Math.random() * images.length)] + '">').appendTo('#banner-load');
</script>

<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">
      <!--We appendin' on this div - ps: ids make sense here... punk-->
      <div id="banner-load"></div>
      </a>
      </div>
      </div>
      <div class="mt2 wrap">
      <div class = "measure">
           arg min<sub>blog</sub>
        <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
