<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">
        <img class="js-chickendinner" style="width:28rem;" src="{{ site.utl }}/assets/logo.jpg" alt="" />
      </a>

        <script>
    $('.js-chickendinner').chickenDinner({
        path: '{{ site.utl }}/assets/',
        fadeInTime:750,
        TheImages: ['logo-1.jpg', 'logo-3.jpg', 'logo-5.jpg', 'logo-10.jpg',
        'logo-6.jpg', 'logo-11.jpg', 'logo-12.jpg', 'logo-13.jpg',
      'banner_69_1.jpg','banner_69_2.jpg','banner_69_3.jpg','banner_69_4.jpg','banner_69_5.jpg',
      'logo_100.jpg','logo_101.jpg','logo_102.jpg','logo_103.jpg','logo_104.jpg','logo_105.jpg','logo_106.jpg','logo_107.jpg','logo_108.jpg','logo_109.jpg']
    });
    </script>

      </div>
      </div>
      <div class="mt2 wrap">
      <div class = "measure">
           arg min<sub>blog</sub>
        <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>



</header>
